<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item grid-product {{ grid_item_width }}{% if sold_out %} is-sold-out{% endif %}">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link" href="{{ product.url | within: collection }}">
        <img src="{{ product | img_url: '1200x1200' }}" alt="{{ product.featured_image.alt | escape }}" class="grid-product__image">
      </a>
    </div>

    <a href="{{ product.url | within: collection }}" class="grid-event__meta">
      <div class="product-grid-left">
          <div class="product-grid-details">
            <span class="grid-product__title">{{ product.title }}</span><br>

            {% if product.metafields.c_f.productDate %}
              <span class="grid-product__date">{{ product.metafields.c_f.productDate }}</span>
            {% endif %}

            <span class="grid-product__price-wrap">

              <span class="grid-product__price">

                {% if product.price_varies %}
                  {% if product.available == false %}
                    <span class="grid-product__original-price">{{ product.price_min | money_without_trailing_zeros }}</span>               
                    <span class="icon-fallback-text">
                      <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                      <span class="fallback-text">+</span>
                    </span> <span class="grid-product__sold-out">Sold Out</span>
                  {% else %}
                    {{ product.price_min | money_without_trailing_zeros }}
                    <span class="icon-fallback-text">
                      <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                      <span class="fallback-text">+</span>
                    </span>
                  {% endif %}
                {% elsif on_sale %}
                  <span class="grid-product__original-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span> <span class="grid-product__on-sale">{{ product.price | money_without_trailing_zeros }}</span>
                {% elsif product.available == false %}
                  <span class="grid-product__original-price">{{ product.price | money_without_trailing_zeros }}</span> <span class="grid-product__sold-out">Sold Out</span>
                {% else %}
                  <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                {% endif %}

              </span>

            </span>

          </div>
          {% if product.type == 'Event' %}
            <div class="product-event-seats{% unless product.available %} hide{% endunless %}">
              <button type="button" class="btn grid-event__quantity">
                {% for variant in product.variants %}
                  {% if forloop.first == true %}
                    {% if variant.inventory_management == "shopify" and variant.inventory_policy != "continue" %}
                      {{ variant.inventory_quantity }} seats left
                    {% else %}
                      Grab your spot!
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </button>
            </div>
          {% else %}
            {% if product.metafields.c_f.productHiddenMsg %}
              <div class="product-event-msg">
                <span class="grid-event__msg">{{ product.metafields.c_f.productHiddenMsg }}</span>
              </div>
            {% endif %}
          {% endif %}
      </div>

    </a>
  </div>
</div>
