<div id="quickview-{{ product.id }}" class="quickview" style="display: none;" >
  <div class="grid grid--uniform">

  {%- assign current_variant = product.selected_or_first_available_variant -%}

    <div class="grid__item medium-up--one-half grid-view-item__title">
      <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper">
        <div>
          <a href="{{ product.url | within: collection }}">
            {% if product.type == "Event" %}
              {% assign quickview_image = current_variant.featured_image | default: product.featured_image %}
              {% for image in product.images %}
                {% unless image contains quickview_image %}
                  <img id="{{ img_id }}"
                     class="grid-view-item__image lazyload"
                     src="{{ image.src | img_url: '800x800' }}"
                     data-src="{{ img_url }}"
                     data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                     data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ product.featured_image.alt | escape }}">
                  {% break %}
                {% endunless %}
              {% endfor %}
            {% else %}
              <img id="{{ img_id }}"
                   class="grid-view-item__image lazyload"
                   src="{{ product.featured_image | img_url: '800x800' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}">
            {% endif %}
          </a>
        </div>
      </div>
    </div>

    <div class="grid__item medium-up--one-half grid-view-item__title">

      <a href="{{ product.url | within: collection }}"><h1 itemprop="name" class="product-single__title">{{ product.title }}</h1></a>

      {% if section.settings.show_vendor %}
        <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
      {% endif %}

      <div>
        <span class="product-single__price">
          {% if product.price_varies %}
            {% if product.available == false %}
              <span class="grid-product__original-price">{{ product.price_min | money_without_trailing_zeros }}</span>
              <span class="icon-fallback-text">
                <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
              </span> <span class="grid-product__sold-out">Sold Out</span>
            {% else %}
              {{ product.price_min | money_without_trailing_zeros }}
              <span class="icon-fallback-text">
                <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                <span class="fallback-text">+</span>
              </span>
            {% endif %}
          {% elsif on_sale %}
            <span class="grid-product__original-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span> <span class="grid-product__on-sale">{{ product.price | money_without_trailing_zeros }}</span>
          {% elsif product.available == false %}
            <span class="grid-product__original-price">{{ product.price | money_without_trailing_zeros }}</span> <span class="grid-product__sold-out">Sold Out</span>
          {% else %}
            <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
          {% endif %}
        </span>
        {% if product.metafields.c_f.productDate %}
          <span class="grid-product__date">{{ product.metafields.c_f.productDate }}</span>
        {% endif %}
      </div>

      <div class="product-single__description rte" itemprop="description">
        {{ product.description | strip_html | truncate: 250 }}
      </div>

      <div class="full-description">
        <a href="{{ product.url | within: collection }}">View full description &#10230;</a>
      </div>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">



        <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

              {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
                {% for option in product.options_with_values %}
                  <div class="radio-wrapper js product-form__item">
                    <label class="single-option-radio__label{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}"
                      for="ProductSelect-option-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <fieldset class="single-option-radio"
                      name="{{ option.name }}"
                      id="ProductSelect-option-{{ forloop.index0 }}">
                      {% assign option_index = forloop.index %}
                      {% for value in option.values %}
                        {% assign variant_label_state = true %}
                        {% if product.options.size == 1 %}
                          {% unless product.variants[forloop.index0].available  %}
                            {% assign variant_label_state = false %}
                          {% endunless %}
                        {% endif %}
                        <input type="radio"
                          {% if option.selected_value == value %} checked="checked"{% endif %}
                          {% unless variant_label_state %} disabled="disabled"{% endunless %}
                          value="{{ value | escape }}"
                          data-index="option{{ option_index }}"
                          name="{{ option.name }}"
                          class="single-option-selector__radio{% unless variant_label_state %} disabled{% endunless %}"
                          id="ProductSelect-option-{{ option.name }}-{{ value | escape }}">
                        <label for="ProductSelect-option-{{ option.name }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
                      {% endfor %}
                    </fieldset>
                  </div>
                {% endfor %}
              {% endunless %}

              <select name="id" id="ProductSelect" class="product-single__variants no-js product-form__item">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %}
                      selected="selected" {% endif %}
                      data-sku="{{ variant.sku }}"
                      value="{{ variant.id }}">
                      {{ variant.title }} - {{ variant.price | money_with_currency }}
                    </option>
                  {% else %}
                    <option disabled="disabled">
                      {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>

{% comment %}          {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js product-form__item">
                <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          {% endunless %}{% endcomment %}

{% comment %}          <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
              {% if variant.available %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                  {{ variant.title }}
                </option>
              {% else %}
                <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
            {% endfor %}
          </select>{% endcomment %}

          {% if product.available %}
            <div class="product-form__item product-form__item--quantity">
              <label for="Quantity" class="preview-quantity__label">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
            </div>
          {% endif %}

          <div class="product-form__item product-form__item--submit">
            <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}"><span>{{ 'products.product.add_to_cart' | t }}</span></button>
          </div>
        </form>

      </div>


    </div>
  </div>
</div>