<style>
  .password-page__logo {
    .logo {
      width: {{ section.settings.logo_max_width }}px;
    }
  }
</style>
{% if section.settings.background != blank %}
{% comment %}  <style>
    .password-page__wrapper {
      background-image: url({{ section.settings.background | img_url: '1300x1300' | format: 'jpg' }});
    }
    .password-page__wrapper:before {
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      height: 100%;
      width: 100%;
      display: block;
      content: '';
      filter: blur(2px);
    }
  </style>{% endcomment %}
  <style>
    .password-page__wrapper {
      background: none;
    }
    body:after {
      background-image: url({{ section.settings.background | img_url: '1300x1300' | format: 'jpg' }});
      background-size: cover;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      content: '';
      filter: blur(3px);
      z-index: -1;
    }
  </style>
{% endif %}
{% if section.settings.color == 'dark' %}
<style>
  .password-page__wrapper {
    color: {{ settings.color_body_text }};
  }
</style>
{% endif %}

<div class="password-page__main__inner">

  <header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
    <div class="password-page__header__inner">
      {% comment %}
        Link to password modal
      {% endcomment %}
      <p class="password-login text-right small--text-center">
        <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
          {% include 'svg-definitions' with 'lock-icon' %}
            {% comment %}{{ 'general.password_page.password_link' | t }}{% endcomment %}
        </a>
      </p>

      {% comment %}
        Site name or logo
      {% endcomment %}
      <div class="password-page__logo">
        <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
        {% assign logo_width = section.settings.logo_max_width | times: 1 %}
        {% if section.settings.logo != blank and logo_width <= 2048 %}
          {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
          <img class="logo" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
        {% else %}
          <span>{{ shop.name }}</span>
        {% endif %}
        </h1>
      </div>
    </div>
  </header>

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__middle">

      {% comment %}
        Opening soon text
      {% endcomment %}
      {% unless section.settings.title == blank %}
        <h2 class="password-page__hero">{{ section.settings.title }}</h2>
      {% endunless %}

      {% comment %}
        Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
      {% endcomment %}

      {% unless shop.password_message == blank %}
        <div class="password-page__message">
          {{ shop.password_message }}
        </div>
        <hr class="hr password-page__hr">
      {% endunless %}

      <div class="password-page__signup-form">
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
          {% else %}
            <p class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading }}</p>
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
            <div class="input-group">
              <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder }}">
              <span class="input-group-btn">
                <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text }}">
              </span>
            </div>
          {% endif %}
        {% endform %}
      </div>
    </div>
  {% endif %}

  <div class="password-page__bottom">

    <div class="password_store_details">

      {% if section.settings.store_address %}
        <p>{{ section.settings.store_address }}{% endif %}
      {% if section.settings.store_hours %}
        <br>{{ section.settings.store_hours }}</p>
      {% endif %}

    </div>

    {% if section.settings.show_share_buttons %}

      <div class="password-page__social-sharing">
          <ul class="social-icons">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">Facebook</a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% comment %}<span class="icon icon-twitter" aria-hidden="true"></span>{% endcomment %}
                  Twitter
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% comment %}<span class="icon icon-pinterest" aria-hidden="true"></span>{% endcomment %}
                  Pinterest
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% comment %}<span class="icon icon-instagram" aria-hidden="true"></span>{% endcomment %}
                  Instagram
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% comment %}<span class="icon icon-snapchat" aria-hidden="true"></span>{% endcomment %}
                  Snapchat
                </a>
              </li>
            {% endif %}
            {% if settings.social_google_plus_link != blank %}
              <li>
                <a href="{{ settings.social_google_plus_link }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                  {% comment %}<span class="icon icon-google_plus" aria-hidden="true"></span>{% endcomment %}
                  Google Plus
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% comment %}<span class="icon icon-tumblr" aria-hidden="true"></span>{% endcomment %}
                  Tumblr
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% comment %}<span class="icon icon-youtube" aria-hidden="true"></span>{% endcomment %}
                  YouTube
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% comment %}<span class="icon icon-vimeo" aria-hidden="true"></span>{% endcomment %}
                  Vimeo
                </a>
              </li>
            {% endif %}
            {% if settings.social_fancy_link != blank %}
              <li>
                <a href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                  {% comment %}<span class="icon icon-fancy" aria-hidden="true"></span>{% endcomment %}
                  Fancy
                </a>
              </li>
            {% endif %}
          </ul>
      </div>

    {% endif %}

  </div>

</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "color",
        "label": "Content color",
        "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Store Info"
      },
      {
        "type": "text",
        "id": "store_address",
        "label": "Address"
      },
      {
        "type": "text",
        "id": "store_hours",
        "label": "Hours"
      },
      {
        "type": "header",
        "content": "Social links"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social links",
        "default": true
      }
    ]
  }
{% endschema %}
