<!-- /templates/page.about.liquid -->
<div itemscope itemtype="http://schema.org/Product" id="AboutSection" data-section-id="{{ section.id }}" data-section-type="about-template">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'large' }}">

  <div class="grid">
    
    <div class="grid__item">

      {% section 'header-page' %}

      <div class="grid">

        <div class="grid__item">
          <hr class="hr--large">
          {% section 'slider-about' %}
        </div>

        <div class="grid__item large--three-fifths push--large--two-tenths">
          <div class="rte rte--nomargin rte--indented-images">
            {{ page.content }}
          </div>
        </div>

        <div class="grid__item">
          {% section 'featured-products-about' %}
        </div>

      </div>

    </div>
  </div>

</div>